<div class="container">
    <div class="row">
        <div class="d-flex flex-column mx-auto">
        <p>
            <h1>Welcome to <i class="fas fa-book"></i><strong>Bookers</strong>!!</h1>
        </p>
        </div>
</div>